.thai-id-card {
  position: relative;
  width: 460px;
  height: 300px;
  margin-top: 1rem;
  background-size: cover;
  background-position: center;
  font-size: 0.9rem;
  color: black;
}

.thai-id-card .field {
  position: absolute;
}

.thai-id-card .cid {
  top: 35px;
  left: 230px;
}

.thai-id-card .name {
  top: 70px;
  left: 180px;
}

.thai-id-card .lastname {
  top: 109px;
  left: 210px;
}

.thai-id-card .dob {
  top: 152px;
  left: 240px;
}

.thai-id-card .address {
  top: 200px;
  left: 100px;
  width: 260px;
}

.thai-id-card .issue {
  bottom: 19px;
  left: 120px;
}

.thai-id-card .expire {
  bottom: 19px;
  right: 30px;
  text-align: right;
}

.thai-id-card .photo {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}
